<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="{{html_description}}" />
    <meta name="author" content="{{html_author}}" />
    <meta name="generator" content="Jekyll v3.8.5" />
    <title>{{html_title}}</title>

    <script src="/js/jquery-3.4.1.min.js"></script>

    <!--Bootstrap core CSS -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <div class="container">
      <div class="row">
        <form class="form-signin" id="accForm" action="{{action}}" method="POST">
          <label for="name" class="sr-only">Anzeigename</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            placeholder="Anzeigename"
            required
            pattern="{{name_pattern}}"
            value="{{name}}"
          />
          <br />
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Beitreten
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
