<html lang="de">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="{{html_description}}" />
  <meta name="author" content="{{html_author}}" />
  <title>{{html_title}}</title>

  <script type="text/javascript">
    const roomId = '{{room}}';
    const uid = '{{uid}}';
  </script>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/cards.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link href="/css/cards.css" rel="stylesheet" />

  <!--Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- Custom styles for this template -->
  <link href="/css/signin.css" rel="stylesheet" />
</head>

<body class="py-0 text-center align-items-stretch">
  <div class="modal" id="modal-share" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Teilen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="/qr/join/{{room}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
          <button type="button" class="btn btn-primary" id="button-copy-url" onclick="navigator.clipboard.writeText(window.location.href); this.innerHTML = 'Link kopiert!'">Link kopieren</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3 d-flex flex-column align-items-stretch">
    <div class="row">
      <div id="counts">
        <p>
          Gelb: <span id="count-yellow">0</span> |
          Blau: <span id="count-blue">0</span> |
          Gr&uuml;n: <span id="count-green">0</span> |
          Rot: <span id="count-red">0</span> |
          Wei&szlig;: <span id="count-white">0</span> |
          Alle: <span id="count-all">0</span>
        </p>
      </div>
    </div>
    <div class="row flex-grow-1 flex-shrink-1 h-100 overflow-hidden">
      <div class="col h-100" id='col-cards'>
        <div id="cards" class="h-100 overflow-auto"></div>
      </div>
      <div class="col h-100 d-flex flex-column align-items-end" id='col-users'>
        <div id="users" class="mh-100 overflow-auto"></div>
        <div class="h-auto mt-auto">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-share">Teilen</button>
        </div>
      </div>
    </div>
    <div class="row" id="displayAsRow">
      <p>Du wirst angezeigt als <b id='displayname'>{{name}}</b></p>
    </div>
    <div class="row" id="cardsRow">
      <div id="cardBtns">
        <button id="yellowBtn" class="btn-color btn-color-yellow btn-color-unselected" />
        <button id="blueBtn" class="btn-color btn-color-blue btn-color-unselected" />
        <button id="greenBtn" class="btn-color btn-color-green btn-color-unselected" />
        <button id="redBtn" class="btn-color btn-color-red btn-color-unselected" />
        <button id="whiteBtn" class="btn-color btn-color-white btn-color-unselected" />
        <button id="allBtn" class="btn-color btn-color-all btn-color-unselected" />
      </div>
    </div>
    <div class="row reset-hide" id="resetRow">
      <div id="resetDiv">
        <button id="resetBtn" class="btn btn-danger">Reset</button>
      </div>
    </div>
  </div>
</body>

</html>
